# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/

# Environment

.env

# VS Code

.vscode/

# JetBrains

.idea/

# Logs

*.log

# Pytest

.pytest_cache/

# Coverage

.coverage
htmlcov/

# Jupyter

.ipynb_checkpoints/

# macOS

.DS_Store

# Windows

Thumbs.db

# Distribution

build/
dist/
*.egg-info/

# Azure

.azure/

# Misc

*.sqlite
